[submodule "external/plugify"]
	path = external/plugify
	url = https://github.com/untrustedmodders/plugify.git
[submodule "external/v8"]
	path = external/v8
	url = https://github.com/paxbun/v8-cmake.git
